
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Burası Hizmetler Oluşturma Sayfası</h2>
<form method="post">
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <label>Resim</label>
    <input type="text" class="form-control" name="ImageURL" />
    <label>İsim Soyisim</label>
    <input type="text" class="form-control" name="TestimonialName" />
    <label>Ünvan</label>
    <input type="text" class="form-control" name="Degree" />
    <button class="btn btn-success">Ekle</button>

</form>
