
@{
    ViewBag.Title = "AddSponsors";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sponsor Oluşturma Sayfası</h2>

<form method="post">
   
    <label>Resim</label>
    <input type="text" class="form-control" name="ImageURL" />
    <button class="btn btn-success">Ekle</button>

</form>