
@{
    ViewBag.Title = "AddCategories";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kategori Oluşturma Sayfası</h2>

<form method="post">
    <label>Kategori İsmi</label>
    <input type="text" class="form-control" name="Title" />
    <button class="btn btn-success">Ekle</button>

</form>