@model AcunMedyaTravelProject.Entities.Services
@{
    ViewBag.Title = "UpdateServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>Burası Hizmetler Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(a => a.ServicesID)
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <label>Resim</label>
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    <button type="submit">Güncelle</button>
</form>