
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">

            <img src="https://media.licdn.com/dms/image/v2/D4D03AQHRyoBC8JU1WQ/profile-displayphoto-shrink_400_400/B4DZYK9aygHsAg-/0/1743940596394?e=1753315200&v=beta&t=KimgfoiTtjpldj1zeXbZfy-LhvpaIe8Rc-4s6E9FlLw" alt="Profil Resmi" width="150">

        </div>
        <div class="user-name">
            Muhammed Sefa KESKİN
        </div>
        <div class="user-designation">
            Developer
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard">
                <i class="icon-pie-graph menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Categories">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Kategori</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Destinations">
                <i class="icon-map menu-icon"></i>
                <span class="menu-title">Destinasyon</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Services">
                <i class="icon-briefcase menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Subscriber">
                <i class="icon-clipboard menu-icon"></i>
                <span class="menu-title">Abonelikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Sliders">
                <i class="icon-air-play menu-icon"></i>
                <span class="menu-title">Sliders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Sponsors">
                <i class="icon-command menu-icon"></i>
                <span class="menu-title">Sponsorlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Testimonial">
                <i class="icon-align-left menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/TripExamples">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Seyehat</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Trips">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Seyehat Rehberi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/Logout">
                <i class="icon-unlock menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>

    </ul>
</nav>
